:root {
  font-family: inter, system-ui, avenir, helvetica, arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #d2d2d2;
  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -ms-overflow-style: none;  /* ie and edge */
  scrollbar-width: none;  /* firefox */
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  height: auto;
  overflow-y: auto;
  touch-action: auto;
}

body {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 1em;
  line-height: 1.1;
  font-weight: 400;
  font-family: 'source sans 3', sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
