<!DOCTYPE html>
<html lang="en">
	<head>
        <title>JmThrCreator</title>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
	</head>

	{% block head %}{% endblock %}

	<style>

	</style>

	{% block style %}{% endblock %}
	
	<body>
	    {% block content %}{% endblock %}
	</body>

    {% block script %}{% endblock %}

</html>