{% extends "base.html" %}

{% block script %}

    <script rel="javascript" type="text/javascript" src="static/js/libraries/matter.min.js"></script> <!-- matter.js -->

    <script src="static/js/components/boundary.js"></script>
    <script src="static/js/components/box.js"></script>
    <script src="static/js/components/stack.js"></script>

    <script rel="javascript" type="text/javascript" src="static/js/index.js"></script>


{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
{% endblock %}

